* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: rgb(26, 119, 150);
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main-wrapper {
    display: flex;
    padding: 20px 20px 60px 20px;
    background: rgb(189, 196, 213);
    background: linear-gradient(60deg, rgba(189, 196, 213, 1) 34%, rgba(211, 221, 223, 1) 66%);
    justify-content: center;
    align-items: center;
    flex: 1;
}

.fieldset-wrapper {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: center;
}

fieldset {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 300px;
    border: 2px solid var(--blue);
    border-radius: 25px;
    color: var(--blue);
    /* justify-content: ; */
    align-items: center;
    text-align: center;
    position: relative;
}

.trenutna {
    height: 350px;
    border-radius: 15px;
    margin: 0 20px;
}

fieldset * {
    margin: 40px 0;
}

legend {
    margin: 0 auto;
    padding: 5px 20px;
}


@media (max-width: 1000px) {
    .trenutna {
        margin: 20px 0;
    }

    .fieldset-wrapper {
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {
    .main-wrapper {
        flex-direction: column;
        padding: 40px 60px;
    }

    .fieldset-wrapper {
        flex-direction: column;
    }

    fieldset {
        width: 100%;
    }

    .item {
        margin-bottom: 30px;

    }

    .item:nth-child(1) {
        display: none;
    }
}