:root {
    --menu-height: 40px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.meni {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #30475e;
    padding: 10px;
}

.meni ul {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;

}

.meni ul li {
    display: inline-block;
}

.meni a {
    text-decoration: none;
    color: #e8e8e8;
}

.dropdown-menu {
    position: absolute;
    top: 10px;
    left: 20px;
    visibility: hidden;
}


@media only screen and (max-width: 600px) {
    .meni {
        min-height: 40px;
        transition: height 100ms linear;
    }

    .meni ul {
        /*margin-top: 100x;*/
        flex-direction: column;
        align-items: center;
        display: none;
    }

    .meni ul li {
        margin-bottom: 20px;
        font-size: 16px;
    }

    .menu ul {
        display: block;
    }

    .dropdown-menu {
        visibility: visible;
    }

    .show {
        min-height: 180px;
    }

    .show ul {
        margin-top: 30px;
        display: flex;
    }

}