*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.wrapper{
    width:100%;
}
form{
    display: flex;
    flex-direction: column;
    width:600px;
    padding:40px;
    margin:40px auto;
    border: 1px solid black;
    background-color: #ff8686;
    color:white;
}
form *{
    margin-bottom: 20px;
}
.kolekcija{
    display: flex;
    width:100%;
}
.kolekcija input,.kolekcija select{
    width:100%;
    height:30px;
    padding:5px 10px;
    border: none;
}
.kolekcija label{
    width:20%;
    margin-right: 10px;
    text-align: left;
}
button{
    width:100%;
    padding:10px;
   
}
@media only screen and (max-width: 600px){
    .wrapper{
        padding:20px;
    }
    form{
        width:100%;
        font-size: 12px;
        padding:20px 5px;
        margin: 0;
    }
}

