* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

table {
    margin: 40px auto;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 5px 20px;
    text-align: center;
}

tr:hover:not(:first-of-type) {
    border: solid 2px black;
}

tr:hover:not(:first-of-type) + tr {
    /*border-top: solid 2px black;*/
}

