* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --sirinaCelije: 30px;
    --visinaCelije: 80px;
    --cas-color: #c4ddf7;
    --celija-color: #f5f5f5;
}

.table {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.red {
    display: flex;
    flex-direction: row;
}

.col {
    width: var(--sirinaCelije);
    height: var(--visinaCelije);
    border: 1px solid black;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.red:not(:first-of-type) .col {
    background: var(--celija-color);
}

.cas.col {
    background-color: var(--cas-color) !important;
    border-color: black !important;
}

.red:not(:first-of-type) .col:nth-child(even) {
    border-right: 1px dashed grey;
}

.red:not(:first-of-type) .col:nth-child(odd) {
    border-left: none;
}

.sati {
    width: calc(2 * var(--sirinaCelije));
    /*margin-left: -2px;*/
}

.WT-predavanje {
    width: calc(6 * var(--sirinaCelije));
    border-right: 1px solid black;
}

.WT-vjezbe {
    width: calc(3 * var(--sirinaCelije));

}

.redSati > .sati, .blank {
    border: none;
    align-items: flex-end;
    justify-content: flex-start;
    font-size: 13px;
}

.dani {
    width: calc(3 * var(--sirinaCelije));
    border: none;
    background-color: white !important;
}

.ravnacGranica {
    display: none;
}

.RMA-predavanje {
    width: calc(6 * var(--sirinaCelije));
}

.RMA-vjezbe {
    width: calc(3 * var(--sirinaCelije));
}

.DM-tutorijal {
    width: calc(4 * var(--sirinaCelije));
}

.DM-predavanje {
    width: calc(6 * var(--sirinaCelije));
}

.OI-predavanje {
    width: calc(6 * var(--sirinaCelije));
}

.pauza {
    width: calc(6 * var(--sirinaCelije));
}

@media (max-width: 800px) {
    .wrapper {
        padding: 20px 10px;
    }

    .red {
        flex-direction: column;
    }

    .sati {
        display: none;
    }

    .col {
        width: 100%;
        border: 1px solid black !important;
    }

    .cas.col {
        background-color: #fff !important;
    }

    .dani {
        background-color: var(--cas-color) !important;
    }

    .col:empty {
        display: none;
    }
}
